.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.openbtn{
  position: fixed;
  border-color: black;
  z-index: 10;
  top: 0.5rem;
  background-image: linear-gradient(to right, red,#A9A7DA);
  font-weight: 800;
  cursor: pointer;
  
}

.openbtn:hover{
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.repeatbtn{
  background: linear-gradient(to right,#534CC1,#0C0858);
  position: fixed;
  z-index: 10;
  border-color: black;
  font-weight: 800;
  cursor: pointer;
  top: 4rem;
  color: #FFFF5F;
  margin-top: 5px;
}

.repeatbtn:hover{
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.quality{
  color: #FFFEFC;
  background: linear-gradient(to right,#88CC88,#004400);
  position: fixed;
  z-index: 10;
  top: 7rem;
  border-color: black;
  font-weight: 800;
  cursor: pointer;
  margin-top: 5px;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black;

}
.quality:hover{
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*Sidepanel creation from here*/
.sidepanel{
  position: fixed;
  width: 0px;
  top: 0.5rem;
  /*width: 25%;*/
  height: 100%;
  z-index: 20;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom,#FFFFBA,#2A6A89);
  transition: 0.5s;
  /*padding: 0.5rem;*/

}
#lyricsHeading{
  font-family: 'Potta One', cursive;
}
#lyrics{
  font-family: 'Inconsolata', monospace;
  /*font-weight: 500;*/
}
  #closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  color: #230037;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  width: 2rem;
  text-align: center;


}

.sidepanel a:hover{
  background-color: rgb(169, 163, 135,0.5);
  /*position: fixed;*/
}

body{
   background-image: url("../images/back2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin-left: 0px;
  /*margin-top: 0px;*/
}

.heading_box{
  /*padding: 40px;*/
  /*border-size: 10px;*/
  min-width:100%;
  padding-bottom: 2rem !important;
  background-color: rgb(29, 28, 36,0.8);
  padding-top: 4rem !important;
  margin-top: 0 !important;
  padding-left: auto;
  padding-right: auto;
   /*border: 10px solid transparent;*/
  /*border-image: url("images/button texture.jpg") 30 round; */


  margin: 0 auto;
  


}

.playfair{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-left: 15px;


}
.abril{
  /*font-family: 'Abril Fatface', cursive;*/
  font-family: 'Arial';
  text-align: center;
  font-size: 3.5rem;
  /*color: linear-gradient(to bottom,red ,violet);*/
  color: #A6C6A6;
  color: #9bc400;
  color: powderblue;
  letter-spacing: .2em;
  margin-top: 0;
  /*text-decoration: underline;*/
  /*background-color: rgb(133, 140, 118,0.3);*/
  /*text-decoration: underline;*/
  /*text-decoration-color: blue;*/
}

.cell{
  display: grid;
  padding: 10px;
  margin: 25px;
  margin-right: auto;
  margin-left: auto;
}
.cell>p{
  white-space: pre;
  color: #FFFFD8;
  font-family: 'Coda Caption', sans-serif;
  cursor: pointer;
  }

  .border{
  border-width: 6px;
  border-style: solid;
  border-color: #004039;
  object-position: top;
  object-fit: cover;
  margin-bottom: 0px;
  cursor: pointer;
  transition: 1s;
  object-fit: fill;

    
}

.border:hover{
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


.container{
  display: flex;
  /*grid-template-columns: 1fr 1fr;*/
  /*grid-template-columns: repeat(auto-fill,minmax(300px,1fr));*/
  /*grid-gap: 25px;*/
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.lightbackground{
  background-color: rgba(92, 91, 109,0.3);
  /*margin: 0px;*/
}

.lightbackground:hover{
  background-color: transparent;
}

.new-line{
  white-space: pre-wrap;
}

@media only screen and (max-width: 700px) and (min-width: 400px)
{
  .abril{
    font-size: 2em;
  }
  .heading_box{
    width: 30rem;
     box-sizing: border-box;
  }

  .container{
    justify-content: space-around;
    /*display: block;*/
  }

  body{
    /*width: 100%;*/
  }

  .openbtn{
    font-size: 0.8rem;
    left: 2rem;
    margin-top: 4px;
  }

  .repeatbtn{
    top: 0.5rem;
    left: 45%;
    font-size: 0.8rem;
    margin-top: 4px;
  }

  .quality{
    top: 0.5rem;
    left: 80%;
    font-size: 0.8rem;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 400px)
{
  .abril{
    font-size: 2em;
  }
  .heading_box{
    /*width: 25rem;*/
    /*min-width:105%;*/
    width: 105%;
    box-sizing: border-box;
  }

  .container{
    justify-content: space-around;
    padding-left: 1.5rem;
    /*display: block;*/
  }

  .repeatbtn{
    top: 0.5rem;
    left: 50%;
  }

  .quality{
    top: 0.5rem;
    left: 80%;
  }

  .openbtn{
    font-size: 0.6rem;
    left: 2rem;
    margin-top: 4px;
  }

  .repeatbtn{
    top: 0.5rem;
    left: 45%;
    font-size: 0.6rem;
    margin-top: 4px;
  }

  .quality{
    top: 0.5rem;
    left: 70%;
    font-size: 0.6rem;
    margin-top: 4px;
  }

  .sidepanel{
      height: 50%;
  }

  .pl7{
    padding-left: 0rem !important;
  }

  body{
    /*width: 100%;*/
  }
}

